/*** Import Fonts ***/
@font-face {
	font-family: 'Colonna MT';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/COLONNA.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Dungeon';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/DUNGEON.ttf') format('truetype'); /* Fixing typo from .tff to .ttf */
	font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/Century Gothic/Century Gothic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/Century Gothic/GOTHICB.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	font-style: italic;
	font-weight: normal;
	src: url('/assets/fonts/Century Gothic/GOTHICI.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	font-style: italic;
	font-weight: bold;
	src: url('/assets/fonts/Century Gothic/GOTHICBI.ttf') format('truetype');
	font-display: swap;
}

/* Reset */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Background */

.iws-page-wrapper {
	background-image: url(/assets/final_imgs/background-image.webp);
	width: 100dvw;
	height: 100vh;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a {
	font-family: 'Century Gothic', sans-serif;
	color: white;
}

.colonna {
	font-family: 'Colonna MT', serif;
}

.dungeon {
	font-family: 'Dungeon', sans-serif;
}
