/*** Layout ***/
.parallax-container {
	width: 100dvw;
	height: 50vh;
	transform-style: preserve-3d;
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid red;
}

.parallax-container .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-container .grid-overlap {
	display: grid;
}

.parallax-container .parallax-element {
	will-change: transform;
}

.parallax-container .grid-item {
	grid-row: 1;
	grid-column: 1;
	background: transparent;
}

.parallax-container .inside {
	z-index: 5;
}

.parallax-container .outside {
	z-index: 1;
}

/*** Animations ***/

/*** General Styles ***/

.wrapper {
	position: relative;
}

.shadow-effect {
	z-index: 2;
	position: absolute;
	bottom: -60px; /* Positions the shadow below the logo */
	left: 50%; /* Centers the shadow horizontally */
	transform: translateX(-50%) rotateX(60deg); /* Tilts in 3D space */
	width: 160px; /* Circle diameter */
	height: 50px; /* Circle diameter */
	border: 5px solid rgba(255, 255, 255, 0.8); /* Thin white border with transparency */
	border-radius: 50%; /* Makes the shadow circular */
	background: transparent; /* Transparent background */
	filter: blur(10px); /* Slight blur for a soft edge */
}
