/* Global Variables */
:root {
}

/* General Styles */
body > * {
	border: 1px solid red;
}

/* Header Styles */
header {
	/* position: fixed; */
	top: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* initially hidden, then animates in */
.iws-mobile-logo {
	visibility: hidden;
	animation: fadeIn 2.5s ease-in-out forwards;
	position: absolute;
	left: 2rem;
}

.iws-mobile-logo span {
	color: white;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

.iws-steal {
	font-size: 2rem;
}

.iws-masta {
	font-size: 1.25rem;
}

.iws-studio {
	display: block;
	font-size: 0.875rem;
	letter-spacing: 0.875em;
}

/* Header Styles - Desktop */
@media screen and (width >= 768px) {
	.iws-mobile-logo {
		display: none;
		position: absolute;
	}
}

/* Main Section Styles */

/* Footer Styles */
